nav:
  - Home: index.md
  - Guides:
      - Installation: guides/installation.md
      - General Usage: guides/general_usage.md
      - Inline Ignore: guides/inline_ignore.md
      - Integrations: guides/integrations.md
  - Explanations:
      - Motivation: explanations/motivation.md
      - Implementation: explanations/implementation.md
      - Limitations: explanations/limitations.md
  - Reference:
      - Extension: reference/extension.md
      - Conversion: reference/conversion.md
      - Superfence: reference/superfence.md

site_name: rst-in-md

repo_name: sebpretzer/rst-in-md
repo_url: https://github.com/sebpretzer/rst-in-md
edit_uri: edit/main/docs/

theme:
  name: material
  icon:
    repo: material/github
  features:
    - navigation.expand
    - navigation.instant
    - navigation.top
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: black

markdown_extensions:
  - attr_list
  - rst_in_md
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: rst
          class: rst-in-md
          format: !!python/name:rst_in_md.superfence_formatter
          validator: !!python/name:rst_in_md.superfence_validator

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
