name: publish
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release tag
        required: true
        type: string

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: install uv
        run: |
          echo "export PATH=\$HOME/.cargo/bin:\$PATH" >> $GITHUB_ENV
          make uv-install
      - name: Install dependencies
        run: make install
      - name: Tag code
        run: uv run hatch version ${{ github.event.inputs.tag }}
      - name: Update uv.lock
        run: uv lock
      - name: Build wheel
        run: make build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Get semver release version
        id: semver
        run: echo "SEMVER=$(sed 's/-.*//' <<< ${{ github.event.inputs.tag }})" >> $GITHUB_ENV
      - name: gh release create
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # https://github.com/cli/cli/issues/2067#issuecomment-704224994
        run: |
          sed -n '/^## ${{ env.SEMVER }}/,/^## /p' CHANGELOG.md | sed '1d;$d' | \
          gh release create ${{ github.event.inputs.tag }} \
            -t ${{ github.event.inputs.tag }} \
            -F - \
            dist/*

  # publish:
  #   needs:
  #     - build
  #     - release
  #   runs-on: ubuntu-latest
  #   permissions:
  #     id-token: write
  #   steps:
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: dist
  #         path: dist
  #     - name: Publish to PyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
